<!-- Post page html component -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput        
      name="title"
      type="text"
      ngModel
      required
      minlength=3
      #title ="ngModel"
      >
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea 
      matInput 
      name="content" 
      ngModel
      required
      minlength=3
      cols="15" 
      rows="10"
      #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <hr>
    <button 
      mat-raised-button
      color="primary">Save Post</button>
  </form>

</mat-card>


 
